html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}





* {
  
  letter-spacing: 0.1rem;
}

.contenedor {
  max-width: 1440px;
  width: 90%;
  padding: 4rem 0;
  margin: 0 auto;
}

.dark-blue {
  background-color: #2B3945;
  color: white;
}

.very-dark {
  background-color: #202C37;
  color: white;
}